.keyboard_numeric.hg-theme-default .hg-button {
    height: 40px;
    font-size: 14px;
    font-family: 'Roboto';
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
}